.static-sidebar {
    background-color: black;
    color: white;
    padding: 20px;
    height: 100vh;
    position: static;
    top: 0;
    
  }
  
  .brand-item {
    background-color: transparent;
    border: none;
    margin-bottom: 50px;
  }
  
  .brand-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .brand-link:hover {
    color: lightgray;
    text-decoration: underline;
  }
  
  .main-content {
    margin-left: 0;
    padding-left: 40px;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  